@charset "utf-8";

.box {
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
}

.box-1 {
    background-color: pink;
}

.box-2 {
    background-color: skyblue;
}

.box-3 {
    background-color: greenyellow;
}

.box-4 {
    background-color: silver;
}

.box-5 {
    background-color: tomato;
}

.box-6 {
    background-color: blue;
}