@charset "utf-8";

body{
    margin: 0;
}

header {
    background-color: pink;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 16px;
}

nav {
    background-color: orange;
}

.pc-menu {
    display: none;
}

@media (min-width: 600px) {
    .sp-menu {
        display: none;
    }

    .pc-menu {
        background-color: aqua;
        display: block;
    }

}